.header, .headerI{
    width: 100%;
    height: 40px;
    background-color:#fff;
    border-bottom: 1px solid royalblue;   
}

.header .headUrl img, .headerI .headUrlI img{
height: 20px;
}

.header .headUrl, .headerI .headUrlI{
display: flex;
margin: 30px;
}
.header .headUrl h3, .headerI .headUrl{
    margin-left: 10px;
    font-size:18px;
    font-family: "Poppins";
    font-weight: 700;
}

.header .headUrl img, .headerI .headUrlI img{
    /* margin-top: -13px; */
height: 30px;
}

.center{
    display: flex;
    justify-content:space-around;
    align-items:center;
}





