 .headerOne{
    width: 100%;
    height: 70px;
    border-bottom:1px solid #1633A3;
    position:fixed;
    background-color:#fff;   
}

 .headerOne .header-nav img{
height: 20px;
}

 .headerOne .header-nav{
display: flex;
margin: 30px;
}

.headerOne .header-nav h3{
    margin-left: 10px;
    font-size:18px;
    font-family: "Poppins";
    font-weight: 700;
}

.headerOne .header-nav img{
    /* margin-top: -13px; */
height: 30px;
margin-top:-5px;
}

.center{
margin-top:-100px;

}

nav{
/* display:block; */
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    /* margin-left: -350px; */

}
nav ul li{
    list-style: none;
}

nav ul li a{
    color: #000;
    display: block;
    /* margin-top: -100px; */
    padding: 40px 20px;
    font-size: 14px;
    font-family: "Poppins";
    font-weight: 600;
    text-transform:capitalize;  
    text-decoration: none;
}



.nav ul li a:hover{
    color: #1633A3;
}
