/* .sample-modal{
    text-align: center;
}

.main{
    background-color:rgba(51, 46, 46, 0.468);
    height: 100% ;
    width: 100%;
    position: absolute;
    top: 0;
}

.popup{
    height: 400px;
    width: 40%;
    background-color:white;
    position: absolute;
    box-shadow: 0px 3px 5px rgba(9, 30, 66, 0.2), 0px 0px 1px rgba(9, 30, 66, 0.31);
    border-radius:6px;
    top: 25%;
    right: 25%;
}

.popup-header{
 display: flex;
 justify-content:space-between;
 padding: 0 30px 0 15px;   
 border-bottom: 1px solid black; */
}